[submodule "bundle/vundle"]
    path = vim/.vim.symlink/bundle/vundle
    url = git://github.com/gmarik/vundle.git
    ignore = untracked
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:connrs/oh-my-zsh
