[submodule "bundle/vundle"]
    path = vim/.vim.symlink/bundle/vundle
    url = git://github.com/gmarik/vundle.git
    ignore = untracked
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git://github.com/connrs/oh-my-fish.git
